<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <style>      
    </style>
</head>
<body>
    <div id="app">
        <span>Paciente: </span><input type="text" v-model="paciente">
        <br>
        
        <ul>
            <li v-for="p in lista" :key="p.nome">{{p.nome}}, {{p.idade}}</li>
        </ul>
    </div>

    <script>
        const { createApp, ref, watch } = Vue;

        createApp({
            data() {
                return {
                    paciente: '',
                    pacientes: [
                        { nome: 'Jorge Sant Ana', idade: 32 },
                        { nome: 'João Santos', idade: 45},
                        { nome: 'José Augusto', idade: 18 },
                        { nome: 'Júnior Silva', idade: 20 },
                        { nome: 'Julho Nogueira', idade: 50},
                    ],
                    lista: []
                };
            },
            methods: {},
            computed: {},
            mounted() {
                watch(() => this.paciente, (newValue) => {
                    console.log(newValue);
                    this.lista = this.pacientes.filter(p => p.nome.includes(newValue));
                });
            }
        }).mount('#app');
    </script>
</body>
</html>
